body {
    background-color: $color-1; 
}

footer {
    background-color: $color-tercero;
    color: $color-primero;
}

h1 {
    color: $color-primero;
    font-family: $font-family-2;
    font-weight: bolder;
    font-style: oblique;
    font-size: 50px;
}

h2 {
    color: $color-primero; 
    background-color: $color-6;
}